<script type="text/javascript">
  jQuery(function($) {
    // document ready
    NML.SalesManagement.New.onload();
  });
</script>

<!-- Menu -->
<%= render :partial => "sales_management/menu" %>

<div id="new-sale-container">
  <div class="form-title" id="new-sale-form-title">
    Nueva venta
  </div>

  <%= form_for :sale, @sale, :url => {:action => 'create'}, :html => {:id => "new-sale-form"}  do |f| %>
    <div class="sale-container-title">
      Localizaci칩n de la venta:
    </div>
    <div id="new-sale-location" class="sale-container">
      <div class="form-pair">
        <%= f.label :province, "Provincia" %>
        <%= f.text_field :province %>
      </div>

      <div class="form-pair">
        <%= f.label :zip_code, "C칩digo postal" %>
        <%= f.text_field :zip_code %>
      </div>

      <div class="form-pair">
        <%= f.label :address, "Direcci칩n (opcional)" %>
        <%= f.text_field :address %>
      </div>
      <div id="sale-map"></div>
    </div>

    <div id="new-sale-date-title" class="sale-container-title">
      Tiempo en que la venta estar치 activa:
    </div>
    <div id="new-sale-date" class="sale-container">
      <div class="form-pair">
        <%= f.label :start_time, "Fecha de inicio" %>
        <%= f.text_field :start_time %>
      </div>

      <div class="form-pair" id="is-unlimited-pair">
        <%= f.label :end_time, "Fecha de fin" %>
        <%= f.text_field :end_time %>
      </div>

      <div class="form-pair">
        <%= f.label :is_unlimited, "Indefinidia" %>
        <%= f.check_box :is_unlimited %>
      </div>
    </div>

    <input type="submit" value="a&ntilde;adir art&iacute;culos" id="submit-new-sale"/>
    <%= link_to("#", :id => "add-items-to-new-sale-button",:class => "button") do %>
      <span>a&ntilde;adir art&iacute;culos</span>
    <% end %>

  <% end %>
</div>
