<script type="text/javascript">
  jQuery(function($) {
    // document ready
    NML.SalesManagement.New.onload();
  });
</script>

<!-- Menu -->
<%= render :partial => "sales_management/menu" %>

<div id="new-form-container">
  <div class="form-title" id="new-sale-form-title">
    Nueva venta
  </div>

  <%= form_for @sale, :as => :sale, :url => {:action => 'create'}, :html => {:id => "new-sale-form"}  do |f| %>

    <%= errors_for(@sale) %>

    <div class="form-container-title">
      Localizaci칩n de la venta:
    </div>
    <div id="new-sale-location" class="form-container">
      <div class="form-pair">
        <%= f.label :province, "Provincia" %>
        <%= f.text_field :province %>
      </div>

      <div class="form-pair">
        <%= f.label :zip_code, "C칩digo postal" %>
        <%= f.text_field :zip_code %>
      </div>

      <div class="form-pair">
        <%= f.label :address, "Direcci칩n (opcional)" %>
        <%= f.text_field :address %>
      </div>

      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :latitude %>

      <div id="sale-map"></div>
    </div>

    <div id="new-sale-date-title" class="form-container-title">
      Tiempo en que la venta estar치 activa:
    </div>
    <div id="new-sale-date" class="form-container">

      <div class="form-pair" id="is-unlimited-pair">
        <%= f.label :end_time, "Fecha de fin" %>
        <%= f.text_field :end_time %>
      </div>

      <div class="form-pair">
        <%= f.label :is_unlimited, "Indefinidia" %>
        <%= f.check_box :is_unlimited %>
      </div>
    </div>

    <input type="submit" value="guardar y a&ntilde;adir art&iacute;culos" id="submit-new-sale"/>
    <%= link_to(url_for(:controller => "sales_management", :action => "create", :user_id => @user.id),
                :id => "add-items-to-new-sale-button",:class => "button") do %>
      <span>guardar y a&ntilde;adir art&iacute;culos</span>
    <% end %>

  <% end %>
</div>
